    body {
        font-family: Arial, Helvetica, sans-serif;
        background: rgb(43, 43, 43) !important;
        font-weight: 400;
    }
    
    .logo,
    .logoImg {
        width: 20%;
    }
    
    .dataContainer {
        max-width: 100%;
        min-height: 100%;
        position: relative;
        padding: 0;
        padding-bottom: 10%;
    }
    
    .error {
        text-decoration: solid;
        color: red !important;
        padding: 2%;
    }
    /* NAVBAR */
    
    .navbar {
        background-color: black !important;
        color: white !important;
    }
    /* BACK TO TOP BUTTON */
    
    #backtotop {
        z-index: 999;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.7);
        width: 50px;
        height: 50px;
        display: block;
        text-decoration: none;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        display: none;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    
    #backtotop i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    
    #backtotop:hover {
        background: rgba(0, 0, 0, 0.9);
    }
    
    #backtotop:hover i {
        color: #fff;
        top: 5px;
    }
    /* -------------------------------------------------------- */
    /* PAGINA PRINCIPAL */
    
    .card-group .card {
        padding: 5%;
    }
    
    .card-group {
        padding: 5%;
    }
    
    .card {
        color: white;
        background-color: transparent;
        border: none;
    }
    
    .card-header {
        margin-top: 2%;
    }
    
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #logo h1 {
        margin: 0;
        padding: 0;
        padding-left: 5% !important;
        font-size: 22px;
        text-transform: uppercase;
    }
    /* -------------------- */
    
    .heading {
        padding-top: 5% !important;
        padding: 2%;
        text-align: center;
    }
    
    p {
        padding: 2%;
    }
    
    h5 {
        font-size: 21px;
    }
    
    footer {
        background-color: black;
        bottom: 0;
        padding: 2%;
    }
    
    .citasIcons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .citasIcons button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        text-align: center;
    }
    
    .inputSettings {
        background-color: transparent;
        border: none;
    }
    
    #reset-button {
        display: none !important;
    }
    
    .breadcrumb {
        display: none;
        margin: 0;
        background-color: rgb(31, 31, 31);
        color: white;
    }
    
    .index {}
    /* TABLET: */
    
    @media only screen and (min-width: 550px) {
        .breadcrumb {
            display: flex;
        }
    }
    /* DESKTOP */
    
    @media screen and (min-width: 800px) {
        .breadcrumb {
            display: flex;
        }
    }